body{
    background-image: url(../assets/food-ga146ff6a8_1920.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.yhteys h3{
    color: white;
}
